:root{
  --text-color: #FADCD5;
  --background: (45deg, #281228, #1B0C1A);
  --rosa: #E46188;
  --roxo: #2D222F;
}

*{
  padding: 0;
  margin: 0;
  font-family: "Arial";
}

main{
  min-height: 100vh;
  background: var(--background);
}